<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <title>Fine Coffee</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="/menu/list">
            <img src="/images/logo.png" style="width:70px; height=70px; margin-right:5px; border-radius: 50%;">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <li class="nav-item">
                    <a class="btn-coffee" sec:authorize="isAnonymous()"  style="margin-right:5px;" th:href="@{/user/login}">Sign In</a>
                    <a class="btn-coffee" sec:authorize="isAuthenticated()" style="margin-right:5px;" th:href="@{/user/logout}">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="btn-coffee" href="/user/signup"  style="margin-right:5px;">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="btn-cart position-relative" href="/cart/view">
                        <i class="bi fs-4"
                           th:classappend="${cartQuantity > 0 ? 'bi-bag-heart-fill' : 'bi-bag'}"
                           style="color: white;"></i>

                        <span th:if="${cartQuantity > 0}"
                              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                              th:text="${cartQuantity}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<th:block layout:fragment="content"></th:block>


<footer class="mt-5 py-4 bg-light border-top">
    <div class="container text-center">
        <a class="nav-link d-inline-block" href="/admin/main">Admin</a>
    </div>
</footer>

<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element){
        element.addEventListener('click', function(){
            if (confirm("Are you sure to delete?")) {
                location.href = this.dataset.uri;
            }
        });
    });
</script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>