<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <div class="row menu-list">
        <div class="col-md-4 mb-4" th:each="menu : ${menuList}">
            <div class="card h-100 text-center">
                <a th:href="@{|/menu/detail/${menu.menuId}|}">
                    <img th:src="@{${menu.coffeeImageUrl}}" class="card-img-top" alt="Coffee Image"
                         style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body">
                    <h7 class="card-title" th:text="${menu.title}">Coffee Name</h7>
                    <p class="card-text text-muted" th:text="'$' + ${menu.price}">Price</p>
                </div>
            </div>
        </div>
    </div>
    <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
       th:href="@{/menu/create}" class="btn btn-primary">
        Register Menu
    </a>
</div>

<style>
    .card {
        transition: all 0.2s ease-in-out;
    }

    .card:hover{
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        transform: scale(1.02);
        transition: all 0.2s ease-in-out;
    }
</style>
</html>